---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Your Profile</h1>
    <button id="logout">Logout</button>

    <div id="profileData">Loading...</div>

    <script>
      import { io } from "https://cdn.socket.io/4.8.1/socket.io.esm.min.js";
      const socket = io("http://localhost:3000");

      (document.getElementById("logout") as HTMLButtonElement).addEventListener(
        "click",
        async function () {
          await fetch("http://localhost:3000/user/logout", {
            method: "POST",
            credentials: "include",
          });
          alert("Logged out");
          window.location.href = "/";
        }
      );

      const loadProfile = async () => {
        try {
          const res = await fetch("http://localhost:3000/user/profile", {
            method: "GET",
            credentials: "include", // Send cookies
          });

          console.log(res);

          if (!res.ok) {
            alert("Access denied. Please log in.");
            window.location.href = "/";
          }

          const data = await res.json();
          const profileData = document.getElementById(
            "profileData"
          ) as HTMLDivElement;
          profileData.innerText = `Welcome, ${data.username}`;
          return data;
        } catch (err) {
          console.log(`fetch error:${err}`);
        }
      };

      // Load profile data on page load
      loadProfile();
    </script>
  </body>
</html>
